*{
    margin: 0px;
    padding: 0px;
}
#table-div{
    width: 80%;
    margin: auto;
    padding: 20px;
    margin-top: 10px;
    /* background-color: rgb(132, 133, 133); */
    background-color: black;
    border-radius: 20px;
}
table{
    width: 100%;
    border-radius: 10px;
    background-color: darkgray;
}
table, th, td{
    border-collapse: collapse;
    border: 1px solid rgb(232, 232, 232);
    padding: 15px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    
}
th{
    background-color: black;
    color: orangered;
}
#table-title{
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3.5rem;
    padding: 25px 0px;
    color: orangered;
}